
notebook.port=9002
notebook.session.timeout=12h
notebook.security.key=6173646661736466e4bda0e8bf983161

notebook.database.type=mysql
notebook.database.ip=127.0.0.1
notebook.database.port=3306
notebook.database.name=notebook
notebook.database.username=root
notebook.database.password=root
notebook.user.home=/mlsql
notebook.url=http://localhost:9002
notebook.mlsql.engine-url=http://localhost:9003
notebook.mlsql.engine-backup-url=http://localhost:9004
notebook.mlsql.auth-client=streaming.dsl.auth.client.DefaultConsoleClient

notebook.job.history.max-size=2000000
notebook.job.history.max-time=30

# effective when select mvn profile `redis`
notebook.redis.host=localhost
notebook.redis.port=6379
notebook.redis.password=redis_pwd
notebook.redis.database=0

# configuration for DolphinScheduler
#notebook.scheduler.enable=false
#notebook.scheduler.scheduler-name=DolphinScheduler
#notebook.scheduler.scheduler-url=http://localhost:12345/dolphinscheduler
#notebook.scheduler.auth-token=
#notebook.scheduler.callback-token=6173646661736466e4bda0e8bf983161
#notebook.scheduler.callback-url=http://localhost:9002

## optional configuration for DolphinScheduler
#notebook.scheduler.project-name=ByzerScheduler
#notebook.scheduler.warning-type=ALL
#notebook.scheduler.warning-group-id=1
#notebook.scheduler.failure-strategy=END
#notebook.scheduler.instance-priority=MEDIUM
#notebook.scheduler.worker=default

## whether to enable redis
notebook.env.redis-enable=false

## whether to enable auto log rotate
notebook.env.log-rotate-enabled=false
notebook.env.max-keep-log-file-threshold-mb=256
notebook.env.max-keep-log-file-number=10
notebook.env.log-rotate-check-cron=33 * * * *